.main {
  .section {
    .container {
      .dynamicInput {
        input {
          padding-right: 2.5rem;
          &::placeholder {
            margin-right: -20px;
          }
        }
      }
    }
  }
  .innerHTML {
    box-shadow:
      14px 14px 20px #cbced1,
      -14px -14px 20px white;
  }
}
